@page "/gamedev"

<MudText Typo="Typo.h4">Video Game Development</MudText>

<MudText Typo="Typo.body1"> Links have been provided in the menu to demonstrate a previous project - the One click Lego Ninjago game and my current passion project.

</MudText>

<MudCarousel TData="object" Class="mud-width-full" Style="width:100%; height:480px;" ShowArrows="true" ShowBullets=true>
	<MudCarouselItem Transition="Transition.Slide" Color="Color.Primary">
		<div class="d-flex" style="height:100%">
			<MudImage src="images/FWIW_Desktop.png" alt="" style="width:100%; height:auto;" />
		</div>
	</MudCarouselItem>
		<MudCarouselItem Transition="Transition.Slide" Color="Color.Primary">
			<div class="d-flex" style="height:100%">
				<MudImage src="images/Screenshot2024-05-03180554.png" alt="" style="width:100%; height:auto;" />
			</div>
		</MudCarouselItem>
			<MudCarouselItem Transition="Transition.Slide" Color="Color.Primary">
			<div class="d-flex" style="height:100%">
				<MudImage src="images/Screenshot2023-12-09162036.png" alt="" style="width:100%; height:auto;" />
			</div>
	</MudCarouselItem>
</MudCarousel> 
<MudText>
	this element is a placeholder
</MudText>

@code {

}
